<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Infinite Pages</title>
    <!-- Bootstrap CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/style/menu.css" />
    <link rel="stylesheet" type="text/css" href="/style/faq.css" />
    <link rel="stylesheet" type="text/css" href="/style/contact.css" />
    <link rel="stylesheet" type="text/css" href="/style/toTop.css" />
</head>

<body data-bs-theme="dark">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid navBar">
            <a class="navbar-brand text-uppercase fa-5x" href="#">
                <i class="bi bi-infinity fa-5x"></i>Pages</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- Custom hamburger menu icon with animation -->
                <div id="hamburger-menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto pl-4 pr-4 mb-2 mb-lg-0 text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bookecommerceplain/products.html">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#bestseller">Best Seller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faqs">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
                <!--Toggle button-->
                <div class="form-check form-switch mx-4">
                    <i id="sunIcon" class="bi bi-sun" style="display: none;"></i>
                    <input type="checkbox" class="form-check-input p-2" role="switch" id="flexSwitchCheckChecked"
                        checked onclick="darkMode()" />
                    <i id="moonIcon" class="bi bi-moon"></i>
                </div>
                <!--Cart-->
                <a class="icon-link " href="#"></a>
                <i class="bi bi-cart3 fa-4x" data-bs-toggle="modal" data-bs-target="#loginModal"
                    onclick="handleCartClick()"></i>
                </a>

                <!--Search-->
                <form class="d-flex" onsubmit="searchBooks(event)">
                    <input id="searchTerm" class="form-control me-2" type="search" placeholder="Search"
                        aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">
                        Search
                    </button>
                </form>
                <!-- Login/Logout Button -->
                <div class="d-flex1">
                    <% console.log('session:', locals.session); %>
                        <% if (locals.session && locals.session.username) { %>
                            <!-- User is logged in -->
                            <button id="logout-btn" class="btn btn-outline-danger mx-2"
                                onclick="logout()">Logout</button>
                            <% } else { %>
                                <!-- User is not logged in -->
                                <a href="/login" class="btn btn-outline-success mx-2">Login</a>
                                <% } %>


                </div>



            </div>
        </div>
    </nav>


    <!-- BestSelling Books -->
    <div class="container mt-5" id="bestseller">
        <ul class="list-unstyled d-flex flex-wrap" id="bookList">
            <!-- Books will be dynamically added here -->
            <% books.forEach(book=> { %>
                <li class="m-2">
                    <div class="card" style="height: fit-content; width: fit-content;">
                        <img src="data:<%= book.image.contentType %>;base64,<%= book.image.data %>"
                            alt="<%= book.title %>" class="card-img-top" style="cursor: pointer; height: 150px;"
                            onclick="navigateToBookDetail('<%= book._id %>')">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= book.title %>
                            </h5>
                            <p class="card-text">Price: $<%= book.price.toFixed(2) %>
                            </p>
                            <% if (book.quantity> 0) { %>
                                <p class="card-text text-success">In Stock</p>
                                <% } else { %>
                                    <p class="card-text text-danger">Out of Stock</p>
                                    <% } %>
                        </div>
                    </div>
                </li>
                <% }); %>
        </ul>
    </div>



    <!-- FAQ Section -->

    <!-- Contact Page -->

    <!-- Back to Top Button -->
    <button id="back-to-top-btn" class="toTop-btn" title="Go to top">
        <i class="bi bi-airplane"></i>
    </button>

    <!-- Footer -->
    <footer class="text-center py-3">
        &copy; 2023 Infinite Pages. All rights reserved.
    </footer>

    <!-- Modal for Login/Signup -->


    <!-- Bootstrap JS (Make sure to include jQuery and Popper.js before Bootstrap JS) -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js"></script>
    <script src="/script/menu.js"></script>
    <script src="/script/darkmode.js"></script>
    <script src="/script/toTop.js"></script>
    <script src="/script/search.js"></script>
    <!-- <script src="/script/search.js"></script> -->
    <script>
        function navigateToBookDetail(bookId) {
            window.location.href = `/books/${bookId}`;
        }

        function logout() {
            fetch('/logout')
                .then(response => {
                    if (response.ok) {
                        // Update the UI to reflect that the user is now logged out
                        document.querySelector('.d-flex1').innerHTML = `
                        <a href="/login" class="btn btn-outline-success mx-2">Login</a>

                    `;
                        document.getElementById('logout-btn').style.display = 'none';
                    } else {
                        console.error('Error during logout:', response.statusText);
                    }
                })
                .catch(error => console.error('Error during logout:', error));
        }

    </script>
</body>

</html>