<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Books</title>

  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 class="mt-5">All Books</h1>
    <!-- Search Form -->
    <form class="form-inline mt-3 mb-3">
      <div class="form-group mr-2">
        <input type="text" class="form-control" id="searchTerm" placeholder="Enter search term">
      </div>
      <button type="button" class="btn btn-primary" onclick="searchBooks()">Search</button>
    </form>

    <!-- Book List -->
    <ul class="list-unstyled d-flex flex-wrap" id="bookList">
      <!-- Books will be dynamically added here -->
      <% books.forEach(book=> { %>
        <li class="m-2">
          <div class="card" style="height: fit-content; width: fit-content;">
            <img src="data:<%= book.image.contentType %>;base64,<%= book.image.data %>" alt="<%= book.title %>"
              class="card-img-top" style="cursor: pointer; height: 150px;"
              onclick="navigateToBookDetail('<%= book._id %>')">
            <div class="card-body">
              <h5 class="card-title">
                <%= book.title %>
              </h5>
              <p class="card-text">Price: $<%= book.price.toFixed(2) %>
              </p>
              <% if (book.quantity> 0) { %>
                <p class="card-text text-success">In Stock</p>
                <% } else { %>
                  <p class="card-text text-danger">Out of Stock</p>
                  <% } %>
            </div>
          </div>
        </li>
        <% }); %>
    </ul>
  </div>

  <script>
    function navigateToBookDetail(bookId) {
      window.location.href = `/books/${bookId}`;
    }

    // Function to search books
    // In your HTML/JavaScript file
    function searchBooks() {
      const searchTerm = document.getElementById('searchTerm').value;
      console.log('Search term:', searchTerm);

      fetch(`/books/search?searchTerm=${searchTerm}`)
        .then(response => response.json())
        .then(data => {
          console.log('Received search results:', data);

          const bookList = document.getElementById('bookList');
          bookList.innerHTML = '';

          data.results.forEach(book => {
            console.log('Book:', book);
            const listItem = document.createElement('li');
            listItem.className = 'm-2';
            listItem.innerHTML = `
                                  <li class="m-2">
                                    <div class="card" style="height: fit-content; width: fit-content;">
                                      <img src="data:${book.image.contentType};base64,${book.image.data}" alt="${book.title}"
                                        class="card-img-top" style="cursor: pointer; height: 150px;"
                                        onclick="navigateToBookDetail('${book._id}')">
                                      <div class="card-body">
                                        <h5 class="card-title">${book.title}</h5>
                                        <p class="card-text">Price: $${book.price.toFixed(2)}</p>
                                        ${book.quantity > 0 ? '<p class="card-text text-success">In Stock</p>' : '<p class="card-text text-danger">Out of Stock</p>'}
                                      </div>
                                    </div>
                                  </li>
                                `;
            bookList.appendChild(listItem);
          });
        })
        .catch(error => console.error('Error fetching search results:', error));
    }


  </script>

  <!-- Include Bootstrap JS and Popper.js before the closing body tag -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>